<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="doctorLandingPage.css" />
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <link rel="stylesheet" href="../CSS/style1.css" />
    <link rel="stylesheet" href="../CSS/doctor.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!--font awesome icons to get hamberger menu-->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../CSS/footer.css">
  </head>
  <body>
    <nav>
      <label class="logo">Aarogyan</label>
      <input type="checkbox" id="check" />
      <label for="check" class="hamberger-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </nav>
    <div class="intro">
      <div class="left">
        <div class="wish">
         <span id="Greet">Good Morning</span>, Dr <span>{{checkname.username}}</span> !
        </div>
        <div class="doctoroptions">
          <div class="newpatient">
            <lottie-player
              src="https://assets6.lottiefiles.com/packages/lf20_zyckcp7c.json"
              background="transparent"
              speed="1"
              class="newpatientlottie"
              loop
              autoplay
            ></lottie-player>
          <a href="/doctor/pescription"> <button class="add">Check new Patient</button></a> 
          </div>
          <div class="prevpatient">
            <img class="historyfiles"
            src="../image/history files.svg"
            
           />
            <button class="historybutton">Check History</button>
          </div>
        </div>

      </div>
      <div class="right">
        <lottie-player
          src="https://assets5.lottiefiles.com/packages/lf20_ej9qnvlt/Pediatra.json"
          background="transparent"
          speed="1"
        
          loop
          autoplay
        ></lottie-player>
      </div>
      </div>
    <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>Services</h3>
            <ul>
              <li><a href="#">Pescribtion</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">Hosting</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h3>Red Black Tree</h3>
            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula
              rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum
              vel in justo.</p>
          </div>
          <div class="col item social">
            <a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="icon ion-social-twitter"></i></a>
          </div>
        </div>
        <p class="copyright">Red Black Tree © 2021</p>
      </div>
    </footer>
  </div>
    <script>
        var myDate = new Date();
        var hrs = myDate.getHours();
        // console.log(hrs);
        var greet;
        var meal_name;
        if (hrs < 12) { greet = 'Good Morning'; meal_name = 'Breakfast' }
        else if (hrs >= 12 && hrs <= 17) { greet = 'Good Afternoon'; meal_name = 'Lunch'; }
        else if (hrs >= 17 && hrs <= 24) { greet = 'Good Evening'; meal_name = "Dinner"; }
        document.getElementById('Greet').innerHTML =
            '<span style="font-weight: medium">' + greet + '</span>';
    </script>
  </body>
</html>