<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="doctorLandingPage.css" />
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <link rel="stylesheet" href="CSS/style1.css" />
    <link rel="stylesheet" href="CSS/doctor.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!--font awesome icons to get hamberger menu-->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

  </head>
  <body>
    <nav>
      <label class="logo">ConfidaX</label>
      <input type="checkbox" id="check" />
      <label for="check" class="hamberger-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </nav>
    <div class="intro">
      <div class="left">
        <div class="wish">
          Good Morning, Doctor Dhri !
        </div>
        <div class="doctoroptions">
          <div class="newpatient">
            <lottie-player
              src="https://assets6.lottiefiles.com/packages/lf20_zyckcp7c.json"
              background="transparent"
              speed="1"
              class="newpatientlottie"
              loop
              autoplay
            ></lottie-player>
          <a href=" "> <button class="add">Check new Patient</button></a> 
          </div>
          <div class="prevpatient">
            <img class="historyfiles"
            src="image/history files.svg"
            
           />
            <button class="historybutton">Check History</button>
          </div>
        </div>

      </div>
      <div class="right">
        <lottie-player
          src="https://assets5.lottiefiles.com/packages/lf20_ej9qnvlt/Pediatra.json"
          background="transparent"
          speed="1"
        
          loop
          autoplay
        ></lottie-player>
      </div>

    </div>
  </body>
</html>