<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">   
</head>
<style>
      .maincontainer{
      display:flex; flex-direction:row;
     
  }
        .formcontainer{
      display:flex; flex-direction:row;
     
  }

    @media only screen and (max-width: 768px) {
  /* For desktop: */

  .maincontainer{
      display:flex; flex-direction:column;
      
  }
  .formcontainer{
      display:flex; flex-direction:column;
      
  }


}
</style>
<body>
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="maincontainer" >
        <div style="flex: 40%">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <form action ="/patient/profile" method="POST">  
         
       <div class="formcontainer" >

        <div >
            <div class="p-3 py-5">
                
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="profileSettings">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" name= "name" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" name= "surname" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" name= "mobile" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Address </label><input type="text" class="form-control" name= "address" placeholder="enter address" value=""></div>
                    <!-- <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div> -->
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" name= "postcode" placeholder="enter PIN" value=""></div>
                    {{!-- <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter state" value=""></div> --}}
                    <!-- <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div> -->
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" name= "email" placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" name= "education" placeholder="education" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" name= "state" value="" placeholder="state"></div>
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" name= "country" placeholder="country" value=""></div> 
                </div>
             
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <!-- <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br> -->
                <div class="col-md-12"><label class="labels">Experience </label><input type="text" class="form-control" name= "experience" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" name= "additional" placeholder="additional details" value=""></div>
            </div>
        </div>
         
    </div>
  <div class="mt-5 text-center"><input type="submit" class= "btn btn-primary profile-button" value="Save Profile"></div>
</form>
</div>
    </div>
    
    
</div>
</div>
</div>
</body>
</html>