<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="CSS/homepage1.css" />
  <link rel="stylesheet" href="CSS/nav1.css" />
  <link rel="stylesheet" href="CSS/footer.css" />
  <link rel="stylesheet" href="CSS/home.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <label class="logo" style="font-family: 'Shippori Antique B1', sans-serif;">Aarogyan</label>
    <input type="checkbox" id="check" />
    <label for="check" class="hamberger-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a href=" ">Home</a></li>
      {{!-- <li><a href="#">Pricing</a></li> --}}
      <li><a href="#aboutus">About</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="/login">Sign In</a></li>
    </ul>
  </nav>
  <section id="topmost">
    <div class="parent">
      <div class="left">
        <div class="heading">Bridging the gap between doctors and patients</div>
        <div class="registers">
          <div class="doctor">
            <div class="subheading">For Doctor</div>
            <p>
              Easy and efficient paperless pescription service with a prolific management system.
            </p>
            <a href="/doctor/logindoctor"><button>Let's Get Started!</button></a>
          </div>
          <div class="patient">
            <div class="subheading">For Patient</div>
            <p>
              Daily Medicine Reminder and Everything you will need to maintain a healthy lifestyle!
            </p>
            <a href="/login"><button>Start Your Journey!</button></a>
          </div>
        </div>
      </div>
      <div class="right">
        <img src="image/doctorpatient1.svg" style="width: 90%; object-fit: contain" />
      </div>
    </div>
  </section>
  <section id="aboutus">
    <div class="parent">
      <div class="left">
        <lottie-player class="lottieplayer" src="https://assets2.lottiefiles.com/packages/lf20_ioxlu1zt.json"
          background="transparent" speed="1" loop autoplay></lottie-player>
      </div>
      <div class="right">
        <h1>About Us</h1>
        <p>
          The pain itself is important to the main adipisicing elite. We can
          only gain advantage, but resilience will not result in the pains of
          life's necessities They may be training, some have troubles, or we
          lead them into great happiness.
        </p>
        <button class="more_btn">More</button>
      </div>
    </div>
  </section>
  <section id="features">

    <div class="heading">Our Features & Services</div>


    <div class="parent">
      <div class="child">
        <img src="image/doctor.svg" alt="" />
        <div class="child_name">Online Pescription </div>

        <!-- <button class="see_more">more</button> -->

      </div>
      <div class="child">
        <img src="image/health_check.svg" alt="" />
        <div class="child_name">Health Checkup </div>

      </div>
      <div class="child">
        <img src=" image/bmi.png" alt="two persons" />
        <div class="child_name">BMI Calculator</div>

      </div>
    </div>


    <div class="parent">
      <div class="child">
        <img src="image/medicine_.svg" alt="medicine reminder" />

        <div class="child_name"> Medicine Reminder</div>
        <!-- <button class="see_more">more</button> -->

      </div>
      <div class="child">
        <img src="image/drinkingwater.png" alt="" />

        <div class="child_name">Water Tracker</div>
      </div>

      <div class="child">
        <img src="image/caloriecounter.svg" alt="" />
        <div class="child_name"> Daily Food Calorie counter</div>


      </div>
    </div>


  </section>
  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>Services</h3>
            <ul>
              <li><a href="#">Pescribtion</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">Hosting</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h3>Red Black Tree</h3>
            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula
              rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum
              vel in justo.</p>
          </div>
          <div class="col item social">
            <a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="icon ion-social-twitter"></i></a>
          </div>
        </div>
        <p class="copyright">Red Black Tree © 2021</p>
      </div>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>