{{>header}}
<body>
    <table class= "table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.password}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>   
</body>
</html>